<%= render 'pages/header'%>
<div class="main">
<table>
	<tr>
	  <th style="padding-top:10px">Title</th>
	  <th style="padding-top:10px">Description</th>
	</tr>
	
  <% @articles.each do |articles| %>
  <tr>
  	<td style="color:blue;padding-right:15px"><%= articles.title %> </td>
  	<td style="padding-right:15px;text-overflow:auto"><%= articles.description %> </td>
  	<td style="padding-right:5px; text-overflow:auto"><%= link_to 'Edit', edit_article_path(articles) %></td>
  	<td style="padding-right:5px;"><%= link_to 'Show', article_path(articles) %></td>
  	<td><%= link_to 'Delete',article_path(articles),method: :delete, data: {confirm: "Are you sure"}%></td>
  </tr>
  
  <% end %>		
</table> 

</div>

<%= render 'pages/footer' %>